html, body {
  height: 100%;
  padding: 0px;
  margin: 0px;
  background-color: red;
  font-family: 'Montserrat', sans-serif;
}

.header {
	position: fixed;
	display: flex;
	height: 80px;
	width: 100%;
	background-color: white;
	top: 0px;
	left: 0px;
}

.header-main {
height: 100%;
flex-grow: 1;
display: flex;
justify-content: space-around;
}

.header-button {
height: 100%;
flex-basis: 200px;
display: flex;
justify-content: center;
align-items: center;
background-color: #00577B;
color: white;
}

.header-button-title {
	padding-left: 10px;
}

.header-logo {
height: 100%;
flex-basis: 20%;
justify-content: center;
align-items: center;
display: flex;
}

.header-links {
	height: 100%;
	flex-grow: 1;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-right: 12px;
}

.header-links-text {
	display: block;
}

.header-title {
	font-size: 16px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header-title-text-1 {
	display: block;
	font-size: 20px;
}

.header-title-text-2 {
	display: block;
	font-size: 18.25px;
	font-weight: bold;
}

.header-title-text-3 {
	display: block;
	font-size: 20px;
	line-height: .97;
}

